* {
    box-sizing: border-box;
    margin: 0;
    font-family: red hat display, sans-serif;
}

.section-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    flex-direction: column;
}

.gallery   {
    height: 242px;
    width: 255px;
    display: flex;
    cursor: pointer;

}

.hero-gallery {
    display: flex;
    gap: 30px;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 540px;
    flex-direction: column;
    margin: auto;

}

.second-section {
    display: flex;
    color: #4D96A9;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 4px;
    text-align: center;
}

.third-section {
    display: flex;
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
    margin-top: 16px;
    text-align: center;
    color: #28283D;
}

.fourth-section {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 32px;
    text-align: center;
    color: #87879D;
}